--- 
commands: 
  01-task: 
    command: "yum install libudev-devel"
  02-install-npm-because-aws: 
    command: "sudo yum -y --enablerepo=epel install npm"
  03-install-node-hid: 
    command: "npm install -g node-hid"
container_commands: 
  01-npm-global-hid: 
    command: "npm install -g node-hid"
